<div class="container">
  <h1>Angular Project</h1>
  <div class="containerDescription">
    <div id="text">
      <h3>
        By selecting the page <span>USERS</span> from the navigation menu, a
        list of users obtained from a JsonPlaceholder can be seen.
        <br />Abilities: Filter the users by name | Modify user's info like
        name/username/phone/website | Delete user | See the updated list of
        users.<br />
        <button [routerLink]="['Users']">Lets get started</button>
      </h3>
    </div>
    <div>
      <img
        id="homeImg"
        src="../../../assets/undraw_experts_re_i40h 1.svg"
        alt=""
        width="400px"
        height="400px"
      />
    </div>
  </div>
</div>
